@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* this controls the content in the header section of the index */
header {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}




/* this controls the nav bar link list */
.nav_links{
  list-style: none;
  /* display: inline-block; */
  margin-left: 95vh;
}

/* controls the list within the header */
.nav_links li{
  display: inline-block;
  padding: 0px 10px;
  font-size: 32px;
}

/* this controls the size of the logo within the header section */
.logo {
  margin-right: 0px;
  height: 400px;
  width: 400px;
  margin-left: 15vh;
}

/* controls the content formatting of the pages */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* controls the main gif loop styling */
.logo_loop{
  height: 75vh;
  width: 75vh;
  margin-bottom: 20px;
}

/* makes the text green on the about pages */
.text_green{
  color: green;
}

/* controls the writing for pages */
.writing{
  margin-left: 10vh;
}

.writing * {
  margin-left: 5vh;
  font-size: 32px;
}

/* controls the headers of content pages */
.heads{
  display: flex;
  /* margin-left: 10vh; */
}


/* somethng is wrong, the content is not justified to the center */
.container{
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.container img{
  height: 500px;
  width: 500px;
  object-fit: cover;
  object-position: center;
  padding: 10px;

}

.container::after {
  content: "";
  flex-basis: 350px;
}
